.elementor-55
  .elementor-element.elementor-element-7154a22:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-55
  .elementor-element.elementor-element-7154a22
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fafafa;
}

.elementor-55 .elementor-element.elementor-element-7154a22 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 100px 0px;
}

.elementor-55
  .elementor-element.elementor-element-7154a22
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55 .elementor-element.elementor-element-6d49550 {
  text-align: center;
}

.elementor-55
  .elementor-element.elementor-element-6d49550
  .elementor-heading-title {
  color: #333333;
  font-family: "Oswald", Sans-serif;
  font-size: 42px;
  font-weight: 500;
}

.elementor-55
  .elementor-element.elementor-element-6d49550
  > .elementor-widget-container {
  padding: 0px 0px 11px 0px;
}

.elementor-55 .elementor-element.elementor-element-ab9b340 {
  font-family: "Rubik", Sans-serif;
}

.elementor-55 .elementor-element.elementor-element-23bcd07 {
  --spacer-size: 10px;
}

.elementor-bc-flex-widget
  .elementor-55
  .elementor-element.elementor-element-344134c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}

.elementor-55
  .elementor-element.elementor-element-344134c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-55
  .elementor-element.elementor-element-344134c:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-55
  .elementor-element.elementor-element-344134c
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/contato.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-55
  .elementor-element.elementor-element-344134c
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.21;
}

.elementor-55
  .elementor-element.elementor-element-344134c
  > .elementor-element-populated,
.elementor-55
  .elementor-element.elementor-element-344134c
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-55
  .elementor-element.elementor-element-344134c
  > .elementor-background-slideshow {
  border-radius: 15px 15px 15px 15px;
}

.elementor-55
  .elementor-element.elementor-element-344134c
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 13px 13px 13px 13px;
  --e-column-margin-right: 13px;
  --e-column-margin-left: 13px;
  padding: 30px 60px 30px 60px;
}

.elementor-55
  .elementor-element.elementor-element-344134c
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55 .elementor-element.elementor-element-435e47c h5,
.elementor-55 .elementor-element.elementor-element-435e47c p,
.elementor-55 .elementor-element.elementor-element-435e47c i {
  color: #ffffff;
}

.elementor-55 .elementor-element.elementor-element-f695d37 h5,
.elementor-55 .elementor-element.elementor-element-f695d37 p,
.elementor-55 .elementor-element.elementor-element-f695d37 i {
  color: #ffffff;
}

.elementor-55 .elementor-element.elementor-element-0fa3a9a h5,
.elementor-55 .elementor-element.elementor-element-0fa3a9a p,
.elementor-55 .elementor-element.elementor-element-0fa3a9a i {
  color: #ffffff;
}

.elementor-55 .elementor-element.elementor-element-6be0b4b h5,
.elementor-55 .elementor-element.elementor-element-6be0b4b p,
.elementor-55 .elementor-element.elementor-element-6be0b4b i {
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-0f1bb9f
  > .elementor-widget-container {
  padding: 50px 30px 50px 30px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px 0px rgba(197, 197, 197, 0.5);
}

.elementor-55 .elementor-element.elementor-element-0a8fdb4 {
  margin-top: 90px;
  margin-bottom: 0px;
}

.elementor-55 .elementor-element.elementor-element-5b4902b iframe {
  height: 480px;
}

@media (min-width: 768px) {
  .elementor-55 .elementor-element.elementor-element-30b42ad {
    width: 20%;
  }

  .elementor-55 .elementor-element.elementor-element-115c9e6 {
    width: 59.333%;
  }

  .elementor-55 .elementor-element.elementor-element-c81313a {
    width: 20%;
  }

  .elementor-55 .elementor-element.elementor-element-344134c {
    width: 34.821%;
  }

  .elementor-55 .elementor-element.elementor-element-ed6720d {
    width: 65.179%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-55 .elementor-element.elementor-element-344134c {
    width: 100%;
  }

  .elementor-55 .elementor-element.elementor-element-ed6720d {
    width: 100%;
  }

  .elementor-55 .elementor-element.elementor-element-35f4492 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .elementor-55
    .elementor-element.elementor-element-344134c
    > .elementor-element-populated {
    padding: 50px 50px 50px 50px;
  }
}

@media (max-width: 767px) {
  .elementor-55
    .elementor-element.elementor-element-344134c
    > .elementor-element-populated {
    padding: 50px 30px 50px 30px;
  }
}
